
<h1>途虎数据爬取</h1>
 
<h2>
    <a href="/tuhu/brands?utf8=✓">1,车辆品牌</a>
</h2>

<h2>
    <a href="/tuhu/versions?utf8=✓">2,车辆型号</a>
</h2>

<h2>
    <a href="/tuhu/details?utf8=✓">3,型号详细页</a>
</h2>
<h2>
    <a href="/tuhu/products?utf8=✓">4,商品详细页</a>
</h2>