<h1><a href="/jz/sx?utf8=✓" >数据部-实习人员打卡</a></h1>
<% if @notices %>
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <%= @notices %>
    <!-- 
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="alert-link">Alert Link</a>. -->
</div>
<% else %>

<% end %>
<br> 

<small> 使用说明：<br> 
        1. 选择你的名字，点击签到<br> 
        2. 上班、下班各签一次</small>
        <br> 



<br> 
<br> 
<table>
  <tbody>
    
  </tbody>


  <tbody>
  <tr>
    <form class="jz" id="jz" action="/jz/sx" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="✓">

        <div class="row col-sm-12 ">
            <div class="form-group">
                <div class="col-sm-10">
                    <%= select("user", "user_id", Jz::User.shixi.collect{|t| [t.name, t.id]}, { :include_blank => false }, class:"form-control m-b") %>
                    <input type="submit" class="btn btn-labeled btn-success" name="commit" value="签到" data-disable-with="Search">
                </div>
                </div>
            </div>



        </td>
    </form>
  </tr>
  
</tbody>
</table>