<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tyc_industry.name %>
</p>

<%= link_to 'Edit', edit_tyc_industry_path(@tyc_industry) %> |
<%= link_to 'Back', tyc_industries_path %>
