

<div class="page-header">
  <h1 class="page-title">
  <h2>气象数据</h2>
  </h1>
</div>
<div class="row row-cards">
  <% urls = %w(/qx/airports /qx/runways /qx/weathers /qx/take_offs /qx/landings /qx/messages /qx/infos);i=0 %>
  <% infos = %w(机场/airport 跑道/runway 气象数据/weather 机场起飞数据/take_off 机场着陆数据/landing 报文信息/message 流量信息/infos) %>

  <% urls.each do |url|%>
  <% name = url.split('/').last ||url %>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-<%= colors.sample %> mr-3">
          <i class="fe fe-dollar-sign"></i>
        </span>
        <div>
          <h4 class="m-0"><a href="<%= url %>" target="_blank" ><%= infos[i] %> <small></small></a></h4>
          <small class="text-muted"><%= t name %></small>
        </div>
      </div>
    </div>
  </div>
  <% i= i+1  %>
  <% end %>
</div>
