<p id="notice"><%= notice %></p>

<p>
  <strong>Remark:</strong>
  <%= @che300_info.remark %>
</p>

<%= link_to 'Edit', edit_che300_info_path(@che300_info) %> |
<%= link_to 'Back', che300_infos_path %>
