default: &default
  adapter: mysql2
  pool: 8
  timeout: 5000
  host: localhost
  username: "root"
  password: "root"
  encoding: utf8

production:
  <<: *default
  database: dc_dev

development:
  <<: *default
  database: dc_dev

test:
  <<: *default
  database: dc_test
