default: &default
  adapter: mysql2
  pool: 8
  timeout: 5000
  host: localhost
  username: root
  password: root
  encoding: utf8

production:
  <<: *default
  database: imerp

development:
  <<: *default
  database: imerp_dev

test:
  <<: *default
  database: imerp_test
