<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @truck_config.name %>
</p>

<%= link_to 'Edit', edit_truck_config_path(@truck_config) %> |
<%= link_to 'Back', truck_configs_path %>
