/* a,a:link,a:visited {color:#000} */
a:hover {color:#97bae0}
.tools_search {float: left;padding-right:5px;     display: flex;}
.tools_search strong {
  padding-right: 5px;
}

table {width:100%;margin-top:10px}
th {background: #f0f9eb}
tr:hover {background:#fafafa}

table {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    font-size: 13px;
    color: #606266;
    /*border-left: 1px solid #ebeef5;*/
}

table td, table th {
    padding: 10px 0;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
    white-space: normal;
    overflow: hidden;
    /*word-break: break-all;*/
    line-height: 7px;
    padding-left: 8px;
    padding-right: 8px;
    word-wrap: break-word;
}

table td,
table th {
    border-right: 1px solid #ebeef5;
    border-bottom: 1px solid #ebeef5;
    padding-left: 10px;
}
.table th,
.table td {
  vertical-align: unset;
  border-top: 1px solid #dee2e6;
}
.field {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: 10px;
      margin-left: 10px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #909399;
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
}

input, textarea {
  display: block;
    width: 100%;
    /* height: calc(1.5em + .75rem + 2px); */
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
    cursor: auto;
}

.actions {
      padding: 0.5rem 0.9rem;
      font-size: 0.875rem;
      line-height: 1.33333333;
      border-radius: 3px;
      color: #467fcf;
      background-color: transparent;
      background-image: none;
      border-color: #467fcf;
}
.actions input {
      color: #495057;
      text-align: center;
      padding: 0.5rem 0.9rem;
      font-size: 0.9375rem;
      line-height: 1.84615385;
      border-radius: 3px;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      cursor: pointer;
      font-weight: 600;
      letter-spacing: .03em;
      font-size: 0.8125rem;
      min-width: 2.375rem;
      color: #fff;
      background-color: #467fcf;
      border-color: #467fcf;
      height: 32px;
}

p {
      margin-bottom: 2rem;
      display: flex;
      flex-wrap: wrap;
}
strong {
      color: #909399;
      background: #f5f7fa;
      padding-top: calc(0.375rem + 1px);
      padding-bottom: calc(0.375rem + 1px);
      margin-bottom: 0;
      font-size: inherit;
      line-height: 1;
}

h2 a,
h3 a,
body>a:last-child,
body>a:nth-last-child(2) {

    padding: 0.25rem 0.9rem;
    width: 120px;
    height: 24px;
    border: 1px solid #467fcf;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #909399;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
}

h2 a{
  font-size: 30px;
}

h3 a{
  font-size: 24px;
}


a {

    border: 1px solid #dee2e6;
}

#notice {

    color: #fff;
    background-color: #23b7e5;
    border-color: #23b7e5;
}

.btn-xs {
  padding: 0.0625rem 0.3125rem;
  font-size: 0.8125rem;
  line-height: 1.5;
}

.btn-outline-purple {
  color: #7266ba;
  border-color: #7266ba;
}

.btn-outline-purple:hover {
  color: #fff;
  background-color: #7266ba;
  border-color: #7266ba;
}

.btn-outline-purple:focus,
.btn-outline-purple.focus {
  box-shadow: 0 0 0 0.2rem rgba(114, 102, 186, 0.5);
}

.btn-outline-purple.disabled,
.btn-outline-purple:disabled {
  color: #7266ba;
  background-color: transparent;
}

.btn-outline-purple:not(:disabled):not(.disabled):active,
.btn-outline-purple:not(:disabled):not(.disabled).active,
.show>.btn-outline-purple.dropdown-toggle {
  color: #fff;
  background-color: #7266ba;
  border-color: #7266ba;
}

.btn-outline-purple:not(:disabled):not(.disabled):active:focus,
.btn-outline-purple:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-purple.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(114, 102, 186, 0.5);
}



.page,
.tab-pane {
  margin: 6px;
}

.nav-tabs {
  margin: 0rem;
}

.pagination {
  height: 27px;
}

.pagination a,
.pagination em,
.pagination span {
  position: relative;
  display: block;
  padding: 0.6rem 0.4rem;
  margin-left: -1px;
  line-height: 0.4;
  color: #5d9cec;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.pagination em.current {
  z-index: 1;
  color: #fff;
  background-color: #5d9cec;
  border-color: #5d9cec;
  padding-left: -1px;
}

.pagination .info {
  position: relative;
  padding: 0.5rem 0rem;
  margin-left: 3px;
  line-height: 1.25;
  font-size: 12.5px;
}
