<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tyc_category.name %>
</p>

<%= link_to 'Edit', edit_tyc_category_path(@tyc_category) %> |
<%= link_to 'Back', tyc_categories_path %>
